.articlePage{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
}
.topBanner{
    background-size: cover;
    background-position:center center;
    background-color: red;
    height: 500px;
    width: 100%;
}

.page{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 70%;
    height: auto;
}
.smallDescription{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid darkred;
    display: flex;
    flex-direction: column;
    padding: 5px;
    order: 2;
    width: 35%;
    align-self: flex-start;
    background-color: whitesmoke;
    border-radius: 5px;
}
article{
    padding: 10px;
    margin-right: 5px;
    order: 1;
    width: 65%;
    height: auto;
    background-color: whitesmoke;
}
.infoCharacter{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

}
.titleAside{

    background-color: darkred;
    text-align: center;
    color: whitesmoke;
}

.imgCharacter{
    align-self:center ;
    width: 99.9%;
    height: auto;
}

.dataCharacter{
    margin-left: 2px;
    border-top: 1px solid #212529;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .page{
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 100%;
        height: auto;
    }
}