#article{
    font-size: 30pt;    /* La taille du text sur la page sera de 30 pixels */
}

.Border-page{
    border: inset black 1px;    /* Crée une bordure au contours de la page */
}

.Box{
    display: flex;
    height: 500px;
    position: relative;         /* Donne une taille aux différents conteneurs et leurs donne une bordure de 1 pixel et en leurs donnant un fond blanc */
    border: solid black 1px;
    color: whitesmoke;
}

.Box-image{
    background-image: url("../../view/image/GIF/subscibe_border.gif");
    background-position: center ;
    background-repeat: no-repeat;       /* Contient l'image de fond pour le conteneur pour s'inscrire en étant sur qu'il prenne tout le conteneur et qu'il y a qu'une seule image */
    background-size: cover;
    width: 100%;
    height: 500px;
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;        /* Donne une couleur de fond tout en métant le contenu au milieu du conteneur et en prennant la moitier du conteneur */
    text-align : justify;
    width: 50%;
    height: 500px;
    background-color: #046353;
}

.Enjoy{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align : justify;           /* Donne une couleur de fond tout en métant le contenu au milieu du conteneur et en prennant la moitier du conteneur */
    width: 50%;
    height: 500px;
    background-color: #640e11;
    border-left: solid black 1px;
}

.Welcome-Image{

    width: 50%;
    height: 100%;                      /* fais que l'image prenne la moitier du conteneur */
    border-right: solid black 1px;
}

#imgDemonSlayer{
    background-image: url("../../view/image/Banner/demon-slayer-kimetsu-no-yaiba.png");     /* Met l'image en fond de conteneur en le métant bien au milieu et qu'il prenne tout l'espace qu'il a */
    background-position: center;
    background-size: cover;
}
#imgErenJaeger{
    background-image: url("../../view/image/Banner/Eren_Jaeger.png");
    background-position: left;                                                               /* Met l'image en fond de conteneur en le métant a gauche et qu'il prenne tout l'espace qu'il a */
    background-size: cover;
}
#imgGifUwU{
    background-image: url("../../view/image/GIF/UwU.gif");
    background-position: center;                                                             /* Met l'image en fond de conteneur en le métant bien au milieu et qu'il prenne tout l'espace qu'il a */
    background-size: cover;
}
.HomePicture{
    height: 500px;
    background-color: red;                                                                  /* Donne une taille de 500 pixels au conteneur et change la couleur de fond en rouge */
}

.InfoContent{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;                                                                 /* Met la couleur de fond du conteneur en noir avec le contenu justifié au milieu  */
    text-align: justify;
    width: 50%;
    height: 500px   ;
    border-right: solid black 1px;
}
.ImageContent{
    width: 50%;
    height: 500px   ;                                                                       /* Donne une taille au conteneur de 500 pixels et qu'il prend 50% du conteneur dans lequel il se trouve  */
}

#Join{
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;                                                                /* Prend la totalité de la longueur du conteneur avec une hauteur de 100 pixels en mettant le contenu au milieu */
    width: 100%;
    height: 100px;
}

.recBtn{
    display: inline-block;
    /*position: absolute;*/
    border: 1px solid #000;
    padding: 20px;
    width: 250px;
    height: 65px;
    overflow: visible;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;                                                                        /* permet de faire l'affichage du bouton */
    border-radius: 4px;
    text-align: center;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: none;
    touch-action: manipulation;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    line-height: 50%;
    margin-top: 300%;
}

.recBtn:focus {
    text-decoration: none;
}

.recBtn:hover {
    text-decoration: none;
}

.recBtn:active{
    box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px;                                            /* S'occupe des animations du bouton */
    outline: 0;
}
.recBtn:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media screen and (max-width: 930px) {
    .Box{
        height: 1000px;
        display: flex;
        flex-direction: column;
    }

    .Welcome-Image{
        width: 100%;
        height: 100%;
    }

    .welcome{
        width: 100%;
        height: 100%;                                                                       /*  crée des changement de taille et de longueurs ainsi qu'il met tout les conteneurs en colonne pour la version mobile */
    }

    .InfoContent{
        width: 100%;
        height: 100%;
    }

    .ImageContent{
        width: 100%;
        height: 100%;
    }

    .Enjoy{
        width: 100%;
        height: 100%;
    }
    .Box-image{
        height: 300px;
    }
    .recBtn{
        margin-top: 160%;
    }
}