body{
    font-size: 25px;
    font-family: "Arial Black"
}

#Box2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: solid black 2px;
}

.Image-header{
    height: 120px;
}

.Logo{
    height: 120px;
    width: 120px;
}

.navlink{
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    margin-left: 3em;
}

#Login{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: solid black 1px;
    align-self: flex-end;
    height: 120px;
    width: 200px;
}

#LoginText{
    text-decoration: none;
    color: whitesmoke;
}

ul {
    color: black;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}