body{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: "Arial Black"
}

#Box1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: solid black 2px;
}

.Image-header{
    height: 120px;
}

.Logo{
    height: 120px;
    width: 120px;
}

.navlink{
    color: #000;
    text-decoration: none;
    display: block;
    position: relative;
    margin-left: 3em;
}
.navlink::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: center;
}
.navlink:hover::after{
    transform: scaleX(1);
}

#Login{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: solid black 1px;
    align-self: flex-end;
    height: 120px;
    width: 200px;
}


#LoginText{
    text-decoration: none;
    color: whitesmoke;
}

ul {
    color: black;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}